* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 920px;
    margin: 16px 0;
}

.cf:before,
.cf:after {
    display: table;
    content: '';
}
.cf:after {
    clear: both;
}

.header {
    padding: 32px;
    border-bottom: 4px solid #FD1472;
}

.content {
    position: relative;
}

.aside,
.container {
    padding: 32px;
}

.aside {
    width: 30%;
    float: left;
    overflow: hidden;
    background-color: #E7E7E7;
    -webkit-transition: background-color 150ms ease-in-out, color 200ms ease-out;
    transition: background-color 150ms ease-in-out, color 200ms ease-out;
}

.container {
    width: 70%;
    float: right;
}

.footer {
    padding: 32px;
    border-top: 4px solid #FD1472;
    clear: both;
}
.footer a {
    color: #FD1472;
}

/*****************************************************/
.gototop {
    display: none;
    -webkit-animation: hide 350ms ease-out forwards 1;
    animation: hide 350ms ease-out forwards 1;
    padding: 16px 32px;
    border: 0;
    text-align: center;
    background-color:#FD1472;
    color: #fff;
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 0 2px 10px rgba(253, 20, 114,.5);
    -webkit-transition: background-color 100ms ease-in-out;
    transition: background-color 100ms ease-in-out;
}
.gototop > span {
    display: inline-block;
    -webkit-transition: transform 100ms 100ms ease-in-out;
    transition: transform 100ms 100ms ease-in-out;
}
.gototop:hover,
.gototop:focus {
    background-color:#FD3D8A;
}
.gototop:hover > span,
.gototop:focus > span {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.isvisible {
    -webkit-animation: show 1s ease-out forwards 1;
    animation: show 1s ease-out forwards 1;
}

@-webkit-keyframes hide{
  0% {
    opacity: 1;
    -webkit-transform:translateY(0);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    -webkit-transform:translateY(100px);
  }
}
@keyframes hide{
  0% {
    opacity: 1;
    transform:translateY(0);
  }
  25%{
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    opacity: 0;
    transform:translateY(100px);
  }
}

@-webkit-keyframes show{
  0% {
    -webkit-transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    -webkit-transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    -webkit-transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}

@keyframes show{
  0% {
    transform: rotate(0deg);
  }
  25%{
    opacity: .5;
    transform: rotate(-3deg) translateY(-40px);
  }
  75%{
    transform: rotate(3deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0deg);
  }
}
